<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <script src="javascripts/controller.js"></script>
  </head>
  <script>
      $(document).ready(function(){
          // init Masonry
            var $grid = $('.grid').masonry({
              itemSelector: '.grid-item',
              percentPosition: true,
              columnWidth: '.grid-sizer'
            });
            // layout Isotope after each image loads
            $grid.imagesLoaded().progress( function() {
              $grid.masonry();
            }); 
      });
     
  </script>
  <body>
    <header>
      <% include partials/header %>  
    </header>
    <div class="container" ng-app="pinterestApp" ng-controller="pinterestCtrl" ng-init="init('<%=JSON.stringify(pins) %>')">
      <h1>All Pins Wall</h1>
      <div class="grid">
        <div class="grid-sizer"></div>
          <div class="grid-item"  ng-repeat="pin in pins">
            <img ng-src="{{pin.imgUrl}}" ng-err="/images/noImage.jpg"/>
            <div class="div-title">{{pin.title}}</div>
          </div>
      </div>
    </div> 
    <footer>
        <% include partials/footer %>
    </footer>
  </body>
</html>
